{% extends 'registros/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'formularios/formularios.css' %}">
{% endblock %}
{% block content %}
<div class="titulo">
    <h2>Cadastrar Livro</h2>
    <a href="{% url 'cadastrar_livro' %}" class="btn">Cadastrar Livro</a>
</div>
<table>
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Descrição</th>
        <th>Ano</th>
    </tr>
    {% for livro in livros %}
    <tr>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.descricao }}</td>
        <td>{{ livro.ano }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}