{% extends 'pdv/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>login</h2>
    <p>Digite os seus dados de acesso no campo abaixo.</p>
    <form method="post">
        {% csrf_token %}
        <label>Usuário:</label>
        <input type="text" name="username" required>
        <label>Senha:</label>
        <input type="password" name="password" required>
        <p>
            Ainda não tem conta?
            <a href="{% url 'register' %}">Registre-se</a>
        </p>
        <button type="submit" class="btn">Acessar</button>
    </form>
</div>
{% endblock %}